<div class="row">
    <div class="col-md-2 p-0 d-none d-xs-none d-md-none d-lg-block" >
        {{> structure/sideBar}}
    </div>
    <div class="col-md-10">
        {{> profile/index}}
    </div>
</div>