<style>
    .form-floating {
        --bs-text-opacity: 1;
        color: var(--bs-secondary-color) !important;
    }

.background-jumbo {
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.KpW8v33xdpgcM0kAo-z0gwHaCe&pid=Api&P=0');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fbd4f4ad;
    background-blend-mode: color-burn;
}
    .jumbotron-form {
        -webkit-box-shadow: 0px 10px 24px 0px rgba(44, 44, 44, 0.82);
        -moz-box-shadow: 0px 10px 24px 0px rgba(44, 44, 44, 0.82);
        box-shadow: 5px 6px 10px 0px rgba(44, 44, 44, 0.82);
        text-align: center;
        color: black;
    }

</style>
<div class="row d-flex d-sx-none">
    <div class="col background-jumbo">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-1 fw-bold lh-1 mb-3" style="color: aliceblue;">{{genero}}</h1>
                <p class="col-lg-10 fs-4" style="color: aliceblue;">{{description}}</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                {{!-- <form class="p-4 p-md-5 border rounded-3 bg-light jumbotron-form">

                </form> --}}
            </div>
        </div>
    </div>
</div>