<ul class="dropdown-menu">
    <li>
        <div class="row">
            <div class="col-sm-12 col-lg-9">
                <div class="row">
                    {{#each menu.featuredAutors}}
                    <div class="col-sm-2 col-lg-6">
                        <a class="dropdown-item" href="/author/{{this.name}}"><img style="border-radius: 100%;aspect-ratio: 1;" src="{{this.profile_photo}}" width="48">
                            {{this.name}}</a>
                    </div>
                    {{/each}}
                    </div>
            <div class="col-lg-3">
                <a class="dropdown-item" href="/authors">Todos los autores</a>
            </div>
        </div>
            <div class="col-lg-3">
                a
            </div>
        </div>
    </li>
</ul>