<style>
        .navbar-collapse.collapse.show {
            background-color: #ffffff;
        }

        .dropdown-item {
            height: 50px;
        }

        .dropdown-menu[data-bs-popper] {
            top: 98%;
            left: 0;
            margin-top: -1px;
            border-radius: 0;
            width: 100vw;
            border-width: 0;
        }

        .col.menu {
            align-self: center;
            font-size: 0.75em;
            padding: 0;

        }

        .nav-link {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        .dropdown-item {
            font-size: medium;
        }
    


    .navbar-collapse.collapse.show {
        background-color: #e3f2fd;
    }

    .dropdown-item {
        height: 60px;
        font-size: 1.9em;
    }


    top: 100%;
    left: 0;
    margin-top: -1px;
    border-radius: 0;
    width: 100vw;
    -webkit-box-shadow: 0px 10px 24px 0px rgba(251, 244, 252, 0.82);
    -moz-box-shadow: 0px 10px 24px 0px rgba(251, 244, 252, 0.82);
    box-shadow: 0px 6px 20px 0px rgba(251, 244, 252, 0.82);

    .menu {
        align-self: center;
        font-size: larger;

    }

    .nav-link {
        font-size: 1.1em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
</style>
<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd; padding: 0;">
    <div class="container-fluid">
        <div class="col-lg-1 col-sm-1">
            <a class="navbar-brand col-lg-2" href="/">Sagpic</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBart">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navBart">
            <div class="col-lg-2 col-sm-1 menu">
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Generos
                </a>
                {{> structure/header/generos}}
            </div>
            <div class="col-lg-2 col-sm-1 menu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Autores
                </a>
                {{> structure/header/autores}}
            </div>
            <div class="col-lg-2 col-sm-1 menu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Recursos
                </a>
                {{> structure/header/recursos}}
            </div>
            <div class="col-lg-2 col-sm-1 menu">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                    Nosotros
                </a>
                {{> structure/header/nosotros}}
            </div>
            <div class="col-lg-4 col-sm-2 menu end">
                {{>structure/header/miCuenta}}
            </div>
        </div>
    </div>

</nav>