<div class="carousel-item active img1" data-bs-interval="0" style="height:100% ;">
    <h2>Publicar Novela</h2>
    <div class="row d-flex align-self-center h-100">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 align-self-center">


            <ul style="list-style-position: inside;list-style-type: disclosure-closed;">
                <li class="">Verifica la ortografía</li>
                <li class="">Afina los detalles</li>
                <li class="">Ten el poster preparado</li>

            </ul>
            <ul class="mt-3" style="list-style-position: inside;list-style-type: disclosure-closed;">
                <li class="">Asegurate de haber dividido en capitulos</li>
                <li class="">Podrás publicar la novela en capitulos periodicos</li>
                <li class="">El progreso se guardara automaticamente</li>
            </ul>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>