
a {
  color: #00B7FF;
}
nav{
    -webkit-box-shadow: 0px 10px 24px 0px  rgba(251, 244, 252, 0.82);
    -moz-box-shadow: 0px 10px 24px 0px  rgba(251, 244, 252, 0.82);
    box-shadow: 0px 6px 5px 0px rgba(251, 244, 252, 0.82);

}


.cont {
  background-color: beige;
  height: 92.7vh;
  overflow-y: auto;
  scrollbar-color: #4444;
  padding: 0;
  margin: 0;

}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.row {
  padding: 0;
  margin: 0;

}
.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}
 .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
    justify-content: space-evenly;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}



.card-title {
  font-size: x-large;
  margin-bottom: var(--bs-card-title-spacer-y);
  color: var(--bs-card-title-color);
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-family: 'Libre Baskerville', serif;
}