<div class="carousel-item active img1" data-bs-interval="2000">
    <div class="row pb-5">
        <div class="col-lg-1 py-4"></div>

        <div class="col-lg-4 py-4">
            <br>
            <div class="card">
                <div class="card-body text-center ">
                    <p>Sumérgete en un universo de historias cautivadoras en nuestra página comunitaria de novelas. Te
                        invitamos a unirte a una vibrante comunidad de escritores y lectores apasionados que comparten
                        su imaginación y creatividad en cada palabra.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-1 py-4"></div>

        <div class="col-lg-5 py-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <img src="" alt="">
                    </div>
                    <div class="row">
                        <p>Tanto si deseas compartir tu propia historia como si prefieres explorar las creaciones de
                            otros,
                            nuestra página comunitaria te brinda un espacio para expresarte y conectarte con una
                            audiencia
                            entusiasta. Además, podrás disfrutar de una experiencia interactiva única, donde podrás
                            dejar
                            comentarios, participar en debates y establecer conexiones con otros amantes de la
                            literatura.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 py-4"></div>
        <div class="col-lg-8 py-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <img src="" alt="">
                    </div>
                    <div class="row">
                        <p>Descubre, crea y conecta en nuestra página comunitaria de novelas. Tu próxima aventura
                            literaria
                            te espera.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-lg-1 py-4"></div>
        <div class="d-none d-md-block col-lg-1 py-4"></div>
        <div class="d-none d-md-block col-lg-1 py-4"></div>
        <div class="col-lg-4 py-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <img src="" alt="">
                    </div>
                    <div class="row">
                        <p>No importa si eres un escritor novel o un ávido lector, en nuestra plataforma encontrarás un
                            refugio literario donde tu pasión por las historias cobra vida. Únete hoy mismo y déjate
                            envolver por el poder de las palabras.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 py-4"></div>
        <div class="col-lg-5 py-4">
            <div class="card">
                <div class="card-body text-center">
                    <div class="row">
                        <img src="" alt="">
                    </div>
                    <div class="row">
                        <p>Nuestra plataforma te ofrece la oportunidad de explorar una amplia variedad de géneros
                            literarios, desde emocionantes novelas hasta fascinantes fanfics. Conéctate con autores
                            talentosos y descubre nuevas voces literarias mientras te sumerges en aventuras épicas,
                            romances
                            intensos y misterios intrigantes.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 py-4"></div>

    </div>
</div>