<div class="mx-auto col-lg-6">
    <div class="p-lg-2 border rounded-3 bg-light jumbotron-form">
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <img class="profile-logged" width="150" height="150" src="{{profile_photo}}" alt="{{name}}">
            </div>
            <div class="col-lg-8 col-sm-12">
                <h3>{{this.name}}</h3>
                <p> <small> {{bio}}</small></p>
            </div>
        </div>
        <hr class="m-0 p-0">
        <div class="row">
            <h3>Social</h3>
            {{#if social.[0].[facebook]}}
            {{> author/social/facebook}}
            {{/if}}
            {{#if social.[0].[instagram]}}
            {{> author/social/instagram}}
            {{/if}}
            {{#if social.[0].[youtube]}}
            z {{> author/social/youtube}}
            {{/if}}
            {{#if social.[0].[soundcloud]}}
            {{> author/social/soundcloud}}
            {{/if}}
            {{#if social.[0].[pinterest]}}
            {{> author/social/pinterest}}
            {{/if}}
        </div>
    </div>
</div>