<style>
    .form-floating {
        --bs-text-opacity: 1;
        color: var(--bs-secondary-color) !important;
    }

    .background-jumbo {
        background-image: url('https://tse1.mm.bing.net/th?id=OIP.KpW8v33xdpgcM0kAo-z0gwHaCe&pid=Api&P=0');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fbd4f4ad;
        background-blend-mode: color-burn;
    }

    .jumbotron-form {
        -webkit-box-shadow: 0px 10px 24px 0px rgba(44, 44, 44, 0.82);
        -moz-box-shadow: 0px 10px 24px 0px rgba(44, 44, 44, 0.82);
        box-shadow: 5px 6px 10px 0px rgba(44, 44, 44, 0.82);
        color: black;
    }

    .profile-logged {
        object-fit: cover;
        border-radius: 100%;
        aspect-ratio: 1;
        width: 75px;
    }
</style>
<div class="row d-flex d-sx-none">
    <div class="col background-jumbo">
        <div class="row align-items-center py-2" style="height: 265px;">
            {{#if galery}}
            <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="display-3 fw-bold lh-1 mb-3" style="color: aliceblue ;">Autores</h1>
            </div>                
            {{else}}
            <div class="col-lg-6 text-center text-lg-start">
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="/profile/{{userData.[0]._id}}">
                    <h1 class="display-3 fw-bold lh-1 mb-3" style="color: aliceblue ;">{{userData.[0].name}}</h1>
                </a>
            </div>
            {{/if}}
            {{#if galery}}
            {{else}}
            {{#each userData}}
                {{> author/social/profileDemo}}
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>