<style>
    .card-img-top.genre {
        width:10%;
        align-self: center;
        padding: 10px;
    }

    .card {
        -webkit-box-shadow: 0px 10px 24px 0px rgba(44, 44, 44, 0.82);
        -moz-box-shadow: 0px 10px 24px 0px rgba(44, 44, 44, 0.82);
        box-shadow: 5px 6px 10px 0px rgba(44, 44, 44, 0.82);
    }

    .card:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transition: 0.5s;
    }
    .poster-photo{
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: round;
        border-radius: 100$;
    }
    .d-sm-block.d-md-none img{
        border-radius: 100%;
        width: 100%;
    }
</style>

{{#if galery}}
{{!-- IF ALL AUTHORS --}}
<div class="row row-cols-md-5 row-cols-sm-3 my-2">
    {{#each user}}
    <div class="col">
        {{> author/authorCard}}
    </div>
    
    
    {{/each}}
</div>
{{else}}
{{!-- if ONE author --}}
<div class="row row-cols-md-5 row-cols-sm-3 my-2">
    {{#each storyMeta}}
    <div class="col">
        {{> stories/storiesCard}}
    </div>

    {{else}}
    <div class="danger">
        no hay publi
    </div>
    {{/each}}

</div>
{{/if}}