<style>
    .form-floating {
        --bs-text-opacity: 1;
        color: var(--bs-secondary-color) !important;
    }

    .background-jumbo {
        background-image: url('https://tse1.mm.bing.net/th?id=OIP.KpW8v33xdpgcM0kAo-z0gwHaCe&pid=Api&P=0');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .jumbotron-form {
        text-align: center;
        background-color: seashell;
    }

    .profile-logged {
        border-radius: 100%;
        object-fit: cover;
    }

    .background-jumbo {}
</style>
<div class="row d-flex d-sx-none">
    <div class="col background-jumbo">
        <div class="row align-items-center py-2" style="height: 265px;">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 fw-bold lh-1 mb-3" style="color: aliceblue ;">Sagpic</h1>
                <p class="col-lg-4 fs-4" style="color: aliceblue;">Tu sitio de lectura</p>
            </div>
            {{#if loggedIn}}
            <div class="mx-auto col-lg-6">
                <div class="p-lg-2 border rounded-3 bg-light jumbotron-form">
                    <img class="profile-logged" width="100" height="100" src="{{loggedIn.profile_photo}}" alt="">
                    <h3 class="">Actualmente leyendo</h3>
                    <ul style="text-align-last: start;">
                        <li>...</li>
                        <li>...</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>
            {{else}}
            <div class="mx-auto col-lg-6 jumbotron-form  bg-light">
                <form class="p-lg-2 border d-flex rounded-3" id="loginForm">
                    <div class="col-12">

                        <div class="form-floating mb-3">
                            <input type="email" class="form-control form-control-lg form-control-sm" id="floatingInput"
                                placeholder="name@example.com" name="email">
                            <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                                name="password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <div class="i">
                            <button class="mx-6 btn btn btn-primary" type="button" data-bs-toggle="modal"
                                data-bs-target="#modalRegister">Registrarse</button>
                            <button class="mx-6 btn btn btn-primary" id="loginBtn" type="button">Login</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6">
                <div class="g_id_signin text-center" data-type="standard" data-shape="pill" data-theme="outline"
                    data-text="signin_with" data-size="large" data-logo_alignment="left"
                    data-skip_prompt_cookie="g_state">
                </div>

                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <script>
                $('#loginBtn').on('click', function (e) {
                    e.preventDefault()
                    var result = {};
                    $.each($('#loginForm').serializeArray(), function () {
                        result[this.name] = this.value;
                    });
                    $.ajax({
                        url: '/login',
                        method: 'post',
                        data: result,
                        success: function (res) {
                            window.location.href = res

                        }
                    })
                })
            </script>

            {{/if}}
        </div>
    </div>
</div>